*{
    margin: 0;
    padding: 0;
}
:root{
    --margin: 50px
}

body{
    font-family: 'Shantell Sans', cursive;
}

.cabecalho{
    background-color: #014687;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto;
    
}

.cabecalho_inicial{
    justify-content: space-around;
    align-items: center;    
    width: 10%;
    border-radius: 10px;
    grid-template-columns: 50% 50%;
    display: flex;
    margin-top: 10px;
    
}

.cabecalho_botao{
    background-color: #90BDE6;
    border-radius: 10px;
    padding: 1em;
    color: #FDFDFD ;
    margin: 25px 20px;
    display: inline-block;
    
}
.img_inicial{
    width: 25%;
}
.corpo_incial{
    background-image: linear-gradient(#014687, #02101E );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px ;
}

.corpo_titulo{
    text-align: center;
    padding: 10px
}

.corpo_div{
    width: 35%;
    padding: 10%;
    font-family: 'Shantell Sans', cursive;
    font-size: 30px;
}
.rodape{
    background-color: #02101E;
    color: white;
    text-align: center;
    font-size: 30spx;
}

.body_escola{
     background-image: url(img/escola2.png);
     background-repeat: no-repeat;

}

.escola_texto_div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 300px 300px;
    border: 5px solid black;
    background-color: black;
}

.section_aluno_corpo{
    background-image: linear-gradient(#D9D9D9, #02101E );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px ;
    font-family: 'Shantell Sans', cursive;
}

.aluno_div{
    width: 35%;
    font-family: 'Shantell Sans', cursive;
    font-size: 25px;
    padding: 3%;
    
}

.img_aluno{
    border: 1px solid black;
    background-color: #D9D9D9;
    margin: 8px;
    font-size: 20px;
    padding: 10px;
    color: #02101E;

}

.nome{
    border: 1px solid black;
    background-color: #D9D9D9;
    font-size: 22px;
    padding: 15px;
    color: #02101E;
    
}

.numero{
    border: 1px solid black;
    background-color: #D9D9D9;
    font-size: 22px;
    padding: 15px;
    margin-top: var(--margin);
    color: #02101E;
}

.turma{
    border: 1px solid black;
    background-color: #D9D9D9;
    font-size: 22px;
    padding: 15px;
    color: #02101E;
    margin-top: var(--margin);
}

.turno{
    border: 1px solid black;
    background-color: #D9D9D9;
    font-size: 22px;
    padding: 15px;
    color: #02101E;
    margin-top: var(--margin);
}



.section2_aluno_corpo{
    background-color: #02101E;
    
    
}

.aluno_obs{
    margin: 0 20px;
    background-color: #D9D9D9;
    font-family: 'Shantell Sans', cursive;
    font-size: 25px;
    padding-left: 20px;
    width:auto;
    height:50px;
  
}

.aluno_p{
    margin: 0 20px;
    background-color: #D9D9D9;
    font-family: 'Shantell Sans', cursive;
    font-size: 25px;
    padding-left: 10px;
    width:auto;
    height:80px;
}